/*
* Initialisation
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
html {
  scroll-behavior: smooth;
}

#background {
  background: url("./images/background.jpg") no-repeat center center / cover;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
}
.navBar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  color: white;
  height: 100%;
}
.logo {
  margin: 50px 0 27px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.cursor {
  position: absolute;
  margin-left: 10px;
}
.email {
  font-size: 36px;
}
.email + hr {
  margin-top: 23px;
  border-color: #00c2ff;
  background-color: #00c2ff;
  height: 3px;
  width: 300px;
  margin-bottom: 62px;
}
.navBar > ul {
  align-self: flex-start;
  margin-left: 25px;
  margin-bottom: 100px;
  list-style: none;
}
.navBar > ul a {
  border-bottom: 24px;
  display: inline-block;
  color: white;
  text-decoration: none;
}
.navBar > ul a::after {
  margin: 12px 0 40px;
  content: "";
  width: 80px;
  height: 2px;
  display: block;
  background-color: #00c2ff;
  transition: linear 0.1s;
}
.navBar > ul a:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #00c2ff;
}

.content > :nth-child(2n + 1) {
  background: #f3fdff;
}
.content > :nth-child(2n) {
  background: #151515;
  color: #f3fdff;
}
.content > div {
  width: 100%;
  padding: 30px 0 0 27px;
  overflow: hidden;
}
.content > div > h1::after {
  margin: 15px 0 38px 0;
  content: "";
  width: 100px;
  height: 2px;
  display: block;
  background-color: #00c2ff;
}

#aPropos > p {
  text-align: justify;
  margin: 0 39px 65px 11px;
}
#aPropos > ul {
  padding: 16px 0;
}
#aPropos > ul > li {
  list-style: none;
  margin-bottom: 14px;
}
#aPropos .react-floater-animated {
  display: none;
}
#aPropos > ul > li::before {
  content: "";
  padding-right: 10px;
  display: inline-block;
  transform: translateY(5px);
  height: 22px;
  width: 25px;
  background: url("./images/arrow.svg") no-repeat center center / contain;
}
#parcours h2 {
  padding: 15px 0;
  font-size: 28px;
}
#parcours li {
  list-style: none;
  padding-bottom: 10px;
}
#parcours h4 {
  font-size: 26px;
  font-weight: 500;
}
/* #parcours ul {
  border-left: 3px solid #151515;
  padding-left: 10px;
} */
#parcours ul li {
  position: relative;
  padding-left: 25px;
}
#parcours ul li > span:nth-child(1) {
  content: "";
  display: block;
  width: 0;
  top: 15px;
  left: 0;
  height: 100%;
  border: 2px solid #151515;
  position: absolute;
}
#parcours ul li:last-child > span:nth-child(1) {
  height: calc(100% - 20px);
}
#parcours ul li > span:nth-child(1)::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f3fdff;
  border: 3px solid #151515;
  position: absolute;
  left: -8px;
  top: -10px;
}
#parcours ul li > span:nth-child(3) {
  display: inline-block;
  padding: 7px 14px;
  margin: 8px 0;
  background: #aec0ff;
}
#parcours ul li p {
  color: #414141;
  margin-bottom: 5px;
}
/* #parcours ul li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f3fdff;
  border-radius: 50%;
  border: 3px solid #151515;
  transform: translateX(-19.5px) translateY(7px);
} */

/*
* Override
*/
.swiper-pagination-bullet {
  background: #f3fdff !important;
}
.swiper-container {
  width: 100%;
  height: 150px;
  overflow: visible;
}
.swiper-container img {
  height: 100px;
}
.typing {
  display: none;
}
@media screen and (min-width: 1100px) {
  .navBar {
    background-color: #15151550;
    width: 370px;
    height: 100vh;
    position: fixed;
    z-index: 2;
  }
  .typing {
    height: 100vh;
    margin-left: 500px;
    display: flex;
    justify-content: center;
    color: #f3fdff;
    flex-direction: column;
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
  }
  .type {
    font-size: 30px;
  }
  .content {
    border-left: 370px solid #151515;
  }
  .content > div {
    padding: 30px 100px;
  }
  .content > #aPropos {
    padding-bottom: 150px;
  }

  #aPropos > ul > li {
    white-space: nowrap;
    overflow: shown;
  }
  #aPropos img {
    transform: translateY(-400px);
    width: 450px;
  }
  #aPropos .react-floater-animated {
    display: block;
    position: absolute;
    right: 0;
  }
  .swiper-container {
    transform: translateX(-100px);
  }
}
@media screen and (min-width: 1300px) {
  #aPropos > ul {
    transform: translateX(-50px);
    columns: 2;
    max-width: 850px;
  }
  .content > div {
    padding: 30px 200px;
  }
  .content > #aPropos {
    padding-bottom: 150px;
  }
  #aPropos img {
    transform: translateY(-120px);
  }
  #aPropos .react-floater-animated {
    right: 0;
  }
}
